
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/logStyle.css">
  </head>

  <body>
    <div class="login">
        <h1>StoryPlaces Authoring Tool</h1>
        <input id="usrNm" type="text" placeholder="Username" required="required" autocomplete="off"/>
        <input id="pssWd" type="password" placeholder="Password" required="required" autocomplete="off" />
        <button class="btn btn-primary btn-block btn-large" onclick="submitDetails()">Start Writing Stories</button>
    </div>

        <script src="login.js"></script>
    </body>

</html>
