<html>
<title>StoryPlaces</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/storyList.css">
<body>

  <div class="navbar">
    <h2>List of Stories</h2>
    <button class="storyBtn" onclick="createStory()">Create Story</button>
  </div>

  <div class="mainDiv">
    <ul id="uList">
    </ul>
  </div>

  <script src="storyList.js"></script>
</body>
</html>
